/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);

	/* original candy colors */
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;

	/* custom variants */
	--color-disabled-gray: hsl(222, 10%, 75%);
	--color-disabled-text-gray: hsl(220, 4%, 53%);
	--color-score-gray: hsl(218, 11%, 85%);
	--color-gray-darker: hsl(222, 10%, 60%);

	--color-invalid-red: hsl(0, 80%, 64%);

	--color-control-green: hsl(85, 90%, 37%);
	--color-control-green-darker: hsl(85, 90%, 22%);

	--color-header-blue: hsl(212, 72%, 47%);
	--color-header-blue-darker: hsl(212, 72%, 32%);
	--color-header-purple: hsl(300, 98%, 25%);
	--color-header-purple-darker: hsl(300, 98%, 15%);

	--duration-move: .1s; /* Duration to move by 1 cell */ /* .1s default */
	--duration-fade: .4s; /* .4s default */

	--board-size: calc(400vw / 6);
	--header-flex-direction: column;
	--header-align-items: stretch;
	--body-flex-direction: column;
	--title-font-size: 3em;
    
    --color-background: lightgoldenrodyellow;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    
    background-color: var(--color-background);
    
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container {
	width: 1000px;
	/*height: 800px;*/

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

/* Left Content Bar*/
#content {
    flex: 5;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#player-names {
	display: flex;
	flex-direction: column;
}

#logging-ui {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#tennis-court {
    flex: 5;
    margin: 5px 5px 0px;
    min-width: 100px;
}

#tennis-player {
    position: absolute;
    width: 100px;
    z-score: 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#tennis-player.hidden {
    display: none;
}

#tennis-player-red {
    position: absolute;
    width: 100px;
    z-score: 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#tennis-player-red.hidden {
    display: none;
}

#tennis-ball {
    position: absolute;
    width: 20px;
    z-score: 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#tennis-ball.hidden {
    display: none;
}

#tennis-ball-red {
    position: absolute;
    width: 20px;
    z-score: 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#tennis-ball-red.hidden {
    display: none;
}



#right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* Navigation Bar*/
#nav-bar {
    flex: 1;

	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 100%;
}
/* Nav Bar Items Style */
#nav-bar .menu-item-wrapper {
	position: relative;
}
#nav-bar .menu-item {
    width: 180px;
    padding: 24px 0;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #56b0ed;
    color: #FFF;
    border-radius: 10px;
    font-size: 30px;
}
#nav-bar .menu-item:hover {
	background-color: #2ba3ed;
}


#logging-toolbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.toolbar-button {
    padding: 12px;
    box-shadow: none;
    border-color: #ccc;
    font-size: 20px;
    color: white;
    background-color: #367DB1;
}
.toolbar-button:first-child {
    border-radius: 10px 10px 0 0;
}
.toolbar-button:last-child {
    border-radius: 0 0 10px 10px;
}

.toolbar-button.active {
    background-color: #aaa;
}





/* Menu Popups Style */
#nav-bar .menu-popup, #nav-bar .menu-subpopup {
	position: absolute;
	top: 10px;
	right: 200px;
	height: auto;
	background-color: white;
	display: none;
    border-radius: 10px;
}
#menu-menu .menu-popup .menu-popup-container, #menu-menu .menu-subpopup .menu-popup-container {
	/* Add specific style for Menu popup here. */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
    border-radius: 10px;
}
#menu-menu .menu-popup .menu-item {
	width: 260px;
	padding: 30px 0;
	margin: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #56b0ed;
    color: #FFF;
    border-radius: 10px;
    font-size: 30px;
}
#current-matches .menu-subpopup {
	/* Add specific style for Current Matches popup here. */
	top: 0;
	right: 310px;
}
#current-matches .menu-subpopup .menu-item {
	width: 180px;
}
#menu-stats .menu-popup {
	/* Add specific style for Menu popup here. */

	position: absolute;
	top: 10px;
	right: 200px;
	height: 600px;
	background-color: white;
	display: none;
    padding: 20px;
}
#menu-score .menu-popup {
	/* Add specific style for Menu popup here. */
    padding: 20px;
}
#menu-score .score_num p {
    font-size: 30px;
}
#menu-undo .menu-popup {
	/* Add specific style for Menu popup here. */
}
#feedback_menu_popup {
    right: 290px !important;
    padding: 20px;
}

@keyframes anim-move {
    0% {
        opacity: var(--init-opacity);
        transform: translate(var(--init-dX), var(--init-dY));
        z-index: var(--move-z-index);
    }

    100% {
        opacity: 1;
        z-index: var(--move-z-index);
    }
}



/*-----------------------Players Names Top Header ----------------------------*/

.names_header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#swap_btn{
    width: 100px;
    height: 100px;
	border-radius: 50%;
	color: #000000;
	font-size: var(--font-size);
	background: #e0e0e0;
	padding: 5% 5% 5% 5%;
	text-decoration: none;
    border: none;
    cursor: pointer;
}
#swap_btn:hover {
	background: #ddd;
	text-decoration: none;
  }

.player_label{
	font-family: Arial;
	font-size: xx-large;
}

#swap_icon{
	width: 100%;
	height: 100%;
}

/*-----------------------Score Pop-up Menu ----------------------------*/
.score_menu_container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.score_column_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.set_score_box{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.set_score_displayed{
	font-family: Arial;
	font-size: 1in;
}

.score_player_label{
	font-family: Arial;
	font-size: 0.5in;


}

.score_controller_container{
	width:100px;
	height: 100px;

}

.score_inc_btn{
	width: 50%;
	height: 50%;
}

.score_dec_btn{
	width: 50%;
	height: 50%;
}

.score_num{
	/*
*/

	width: 50%;
	height: 100%;
	position: relative;

	left:50%;
	bottom:100%;

	text-align:center;


}

/*-----------------------Score Pop-up Menu ----------------------------*/
.stats_menu_container{
	display: flex;
	flex-direction: column;

}

.stats_menu_header_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-family: Arial;
	font-size: 0.5in;

	text-align: center;
}

.stats_menu_table_container{
	display: flex;
	flex-direction: column;
	align-items: stretch;

	font-family: Arial;
	font-size: 0.2in;
}

.stats_menu_table_row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0.1in;
}

.stats_icon{
	width: 0.8in;
	height: 0.8in;

}

.stats_menu_feedback_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-family: Arial;
	font-size: 1in;


	height: 1in;
}

#stats_menu_btn {

	border-radius: 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: large;
	font-weight: 100;

	background-color: #3D94F6;

	border: solid #337FED 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 5px;

	height: 80%;
}

#stats_menu_btn:hover {
	background: #000000;
	text-decoration: none;
}

.feedback_menu_container {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;



}

.feedback_menu_header_container{

	font-family: Arial;
	font-size: large;
	font-weight: 100;
}

.feedback_comment_box_container{


	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

#feedback_text {
	resize: none;
	border-color: darkgrey;
	border-style: solid;
	border-width: 0.05in;
}

.feedback_btn {

	border-radius: 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: large;
	font-weight: 100;

	background-color: #3D94F6;

	border: solid #337FED 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 5px;

}

.feedback_btn:hover {
	background: #000000;
	text-decoration: none;
}
