/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--duration-move: 0.1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;
	
	--from-x:0px;
	--from-y:0px;
	--to-x: 0px;
	--to-y: 0px;
	
	
	--board-size:380px;
	--shape-size:9;

}

.stats_menu_container{
	display: flex;
	flex-direction: column;
	/*width: 250px;*/
}

.stats_menu_header_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-family: Arial;
	font-size: 0.5in;

	text-align: center;
	border-color: grey;
	border-style: solid;
	border-width: 0.01in;
}

.stats_menu_table_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-family: Arial;
	font-size: 0.2in;

	border-color: grey;
	border-style: solid;
	border-width: 0.01in;
}

.stats_menu_table_row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0.1in;
}

.stats_icon{
	width: 30%;
	height: 30%;
	
}

.stats_menu_feedback_container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-family: Arial;
	font-size: 1in;

	border-color: grey;
	border-style: solid;
	border-width: 0.01in;

	height: 1in;
}

#stats_menu_btn {

	border-radius: 20px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: large;
	font-weight: 100;

	background-color: #3D94F6;

	border: solid #337FED 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 5px;
	
	height: 80%;
}

#stats_menu_btn:hover {
	background: #000000;
	text-decoration: none;
}



