/* Global variables */
:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;
	--duration-move: 0.1s; /* Duration to move by 1 cell */
	--duration-fade: .4s;
	
	--from-x:0px;
	--from-y:0px;
	--to-x: 0px;
	--to-y: 0px;
	
	
	--board-size:380px;
	--shape-size:9;

}


.names_header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;


	border-color: grey;
	border-style: solid;
	border-width: 0.01in;
}

#swap{
	border-radius: 5%;
	font-family: var(--font-fam);
	color: #000000;
	font-size: var(--font-size);
	background: #e0e0e0;
	padding: 5% 5% 5% 5%;
	text-decoration: none;
}
#swap:hover {
	background: #030303;
	text-decoration: none;
  }

.player_label{
	font-family: Arial;
	font-size: xx-large;

	border-color: grey;
	border-style: dotted;
	border-width: 0.01in;
}

#swap_icon{
	width:1in;
}
